body {
color:black;
background-color:white;
background-image:url(../images/image.jpg);
background-size:cover;
background-repeat:no-repeat;
}

.container {
	background-color: rgba(0,0,0,0.8);
	opacity: 1;
	border: solid 2px;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-box-shadow: 1px 0px 15px 0px rgba(255, 255, 255, 0.75);
	-moz-box-shadow:    1px 0px 15px 0px rgba(255, 255, 255, 0.75);
	box-shadow:         1px 0px 15px 0px rgba(255, 255, 255, 0.75);
	
}

.logo {
	display : block;
	margin-left : auto;
	margin-right : auto;
}

#menu {  
    padding: 0; margin: 0;  
    text-align: center;
	border-width:1px;
	border-style:outset;
	border-color:black;
	width: 50%;
	margin: auto; 
	background: -moz-radial-gradient(#FFCB60, #5B3C11);
}  
#menu li {  
    display: inline;  
    list-style: none;  
}  
#menu a {  
    display:inline-block;  
    margin: 0 30px;  
	text-decoration : none;
}

#menu a:link {
	color: black;
} 
#menu a:visited {
	color:black;
} 
#menu a:hover {
	color:white;
} 
a:hover {
	font-weight: bold;
}
.separeBot {
	margin-bottom: 20px;
}
