{% extends '::base.html.twig' %}


{% block title %} {{ parent() }} - Bienvenue !{% endblock %}

{% block body %}

<h1> Prendre contact avec nous ! </h1>
<p> Ici vous trouverez de quoi prendre contact avec l'équipe ! <br/> 

{% endblock %}