{% extends '::base.html.twig' %}


{% block title %} {{ parent() }} - Bienvenue !{% endblock %}

{% block body %}

<h1> Bienvenue sur le site de LoLSearch ! </h1>


<p> Qu'es ce que LoLSearch ? <br/> 
LoLSearch est une id&eacutee d&eacute;velopp&eacute &agrave la base par Amion Ange-Williams et ANTOINE Kevin dans le projet de fin d'ann&eacutee &agrave pr&eacutesent&eacute au professeur. <br/>
Cette application web est faite dans un premier temps pour tous les joueurs de League of Legends d&eacutesirant trouver des partenaires de jeux ou tout simplement trouv&eacute des 
lieux alliant d&eacutetente et plaisir vid&eacuteoludique tel que le <a href="http://www.meltdown-paris.com/"> Meltdown </a>.</p>

{% endblock %}